version: "3.8"

services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    healthcheck:
      test: rabbitmq-diagnostics -q ping
      interval: 10s
      timeout: 10s
      retries: 5
      start_period: 40s

  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: speedometer
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  backend:
    build: ./backend
    restart: always
    ports:
      - "3000:3000"
    environment:
      RABBITMQ_URL: amqp://rabbitmq:5672
      DATABASE_URL: postgresql://postgres:postgres@postgres:5432/speedometer
    depends_on:
      postgres:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy

  sensor:
    build: ./sensor
    ports:
      - "5000:5000"
    restart: always
    environment:
      BACKEND_URL: http://backend:3000
    depends_on:
      backend:
        condition: service_started
        
  frontend:
    build: ./frontend
    ports:
      - "3001:5173"
    environment:
      VITE_BACKEND_URL: http://localhost:3000
    depends_on:
      - backend

volumes:
  postgres_data:
  rabbitmq_data:
